<header class="aside-header">
    <a class="chatapp-title link-dark">
        <h1>Contacts</h1>
    </a>
    <div class="d-flex">
        <div class="dropdown">
            <a href="#" class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover no-caret">
                <span class="icon">
                    <i class="fa fa-gear"></i>
                </span>
            </a>
        </div>
        <a  id="startNewChat" class="btn btn-icon btn-rounded btn-primary">
            <span class="icon">
                <i class="fa fa-envelope" style="font-size: 15px!important;"></i>
            </span>
        </a>
    </div>
</header>
<div  data-simplebar class="aside-body">
    <form class="aside-search" role="search">
        <input type="text" class="form-control" placeholder="Search Chats">
    </form>
    <ul class="chat-contacts-list list-group list-group-flush">
        <li class="list-group-item">
            <div class="media read-chat active-user">
                <div class="media-head">
                    <div class="avatar avatar-sm avatar-soft-danger avatar-rounded border border-1 border-danger border-rounded">
                        <span class="initial-wrap">W</span>
                    </div>
                </div>
                <div class="media-body">
                    <div>
                        <div class="user-name">Winston Churchil</div>
                        <div class="user-last-chat">Show me what reports you have left</div>
                    </div>	
                    <div>
                        <div class="last-chat-time">3:15 PM</div>
                        <div class="dropdown action-drp">
                            <a href="#" class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover dropdown-toggle no-caret" data-bs-toggle="dropdown">
                                <span class="icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item link-primary" href="#">
                                    Save <i class="fa fa-user-plus" style="font-size:16px!important"></i>
                                </a>
                                <a class="dropdown-item link-danger" href="#">
                                    Block <i class="fa fa-ban" style="font-size: 16px!important;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div  class="media read-chat">
                <div class="media-head">
                    <div class="avatar avatar-sm avatar-soft-primary avatar-rounded border border-1 border-primary border-rounded">
                        <span class="initial-wrap">H</span>
                    </div>
                </div>
                <div class="media-body">
                    <div>
                        <div class="user-name">Hencework</div>
                        <div class="user-last-chat text-danger">
                            <span class="feather-icon fe-x me-1">
                                <i class="fa fa-volume-control-phone"></i>
                            </span>
                            Missed call
                        </div>
                    </div>	
                    <div>
                        <div class="last-chat-time">24 Jan</div>
                        <div class="dropdown action-drp">
                            <a href="#" class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover dropdown-toggle no-caret" data-bs-toggle="dropdown">
                                <span class="icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item link-primary" href="#">
                                    Save <i class="fa fa-user-plus" style="font-size:16px!important"></i>
                                </a>
                                <a class="dropdown-item link-danger" href="#">
                                    Block <i class="fa fa-ban" style="font-size: 16px!important;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div  class="media read-chat">
                <div class="media-head">
                    <div class="avatar avatar-sm avatar-soft-info avatar-rounded border border-1 border-info border-rounded">
                        <span class="initial-wrap">D</span>
                    </div>
                </div>
                <div class="media-body">
                    <div>
                        <div class="user-name">Danial Craig</div>
                        <div class="user-last-chat">Boss is looking for you in the office</div>
                    </div>	
                    <div>
                        <div class="last-chat-time">3:15PM</div>
                        <div class="badge badge-primary badge-sm badge-pill">37</div>
                        <div class="dropdown action-drp">
                            <a href="#" class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover dropdown-toggle no-caret" data-bs-toggle="dropdown">
                                <span class="icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item link-primary" href="#">
                                    Save <i class="fa fa-user-plus" style="font-size:16px!important"></i>
                                </a>
                                <a class="dropdown-item link-danger" href="#">
                                    Block <i class="fa fa-ban" style="font-size: 16px!important;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div  class="media read-chat">
                <div class="media-head">
                    <div class="avatar avatar-sm avatar-soft-success avatar-rounded border border-1 border-success border-rounded">
                        <span class="initial-wrap">A</span>
                    </div>
                </div>
                <div class="media-body">
                    <div>
                        <div class="user-name">Ante Nadrian</div>
                        <div class="user-last-chat">give me the last copy of jampack</div>
                    </div>	
                    <div>
                        <div class="last-chat-time">24 Jan</div>
                        <div class="dropdown action-drp">
                                <a href="#" class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover dropdown-toggle no-caret" data-bs-toggle="dropdown">
                                <span class="icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item link-primary" href="#">
                                    Save <i class="fa fa-user-plus" style="font-size:16px!important"></i>
                                </a>
                                <a class="dropdown-item link-danger" href="#">
                                    Block <i class="fa fa-ban" style="font-size: 16px!important;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="media  read-chat">
                <div class="media-head">
                    <div class="avatar avatar-sm avatar-soft-warning avatar-rounded border border-1 border-warning border-rounded">
                        <span class="initial-wrap">N</span>
                    </div>
                </div>
                <div class="media-body">
                    <div>
                        <div class="user-name">Nadrian Ante</div>
                        <div class="user-last-chat">Show me what reports you have left</div>
                    </div>	
                    <div>
                        <div class="last-chat-time">3:15 PM</div>
                        <div class="dropdown action-drp">
                                <a href="#" class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover dropdown-toggle no-caret" data-bs-toggle="dropdown">
                                <span class="icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item link-primary" href="#">
                                    Save <i class="fa fa-user-plus" style="font-size:16px!important"></i>
                                </a>
                                <a class="dropdown-item link-danger" href="#">
                                    Block <i class="fa fa-ban" style="font-size: 16px!important;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div  class="media read-chat">
                <div class="media-head">
                    <div class="avatar avatar-sm avatar-soft-info avatar-rounded border border-1 border-info border-rounded">
                        <span class="initial-wrap">J</span>
                    </div>
                </div>
                <div class="media-body">
                    <div>
                        <div class="user-name">Jack Reachers</div>
                        <div class="user-last-chat">Boss is looking for you in the office</div>
                    </div>	
                    <div>
                        <div class="last-chat-time">3:15PM</div>
                        <div class="dropdown action-drp">
                                <a href="#" class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover dropdown-toggle no-caret" data-bs-toggle="dropdown">
                                <span class="icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item link-primary" href="#">
                                    Save <i class="fa fa-user-plus" style="font-size:16px!important"></i>
                                </a>
                                <a class="dropdown-item link-danger" href="#">
                                    Block <i class="fa fa-ban" style="font-size: 16px!important;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="media  read-chat">
                <div class="media-head">
                    <div class="avatar avatar-sm avatar-soft-danger avatar-rounded border border-1 border-danger border-rounded">
                        <span class="initial-wrap">W</span>
                    </div>
                </div>
                <div class="media-body">
                    <div>
                        <div class="user-name">Winston Churchil</div>
                        <div class="user-last-chat">Show me what reports you have left</div>
                    </div>	
                    <div>
                        <div class="last-chat-time">3:15 PM</div>
                        <div class="dropdown action-drp">
                                <a href="#" class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover dropdown-toggle no-caret" data-bs-toggle="dropdown">
                                <span class="icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item link-primary" href="#">
                                    Save <i class="fa fa-user-plus" style="font-size:16px!important"></i>
                                </a>
                                <a class="dropdown-item link-danger" href="#">
                                    Block <i class="fa fa-ban" style="font-size: 16px!important;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div  class="media read-chat">
                <div class="media-head">
                    <div class="avatar avatar-sm avatar-soft-primary avatar-rounded border border-1 border-primary border-rounded">
                        <span class="initial-wrap">H</span>
                    </div>
                </div>
                <div class="media-body">
                    <div>
                        <div class="user-name">Hencework</div>
                        <div class="user-last-chat">give me the last copy of jampack</div>
                    </div>	
                    <div>
                        <div class="last-chat-time">24 Jan</div>
                        <div class="dropdown action-drp">
                                <a href="#" class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover dropdown-toggle no-caret" data-bs-toggle="dropdown">
                                <span class="icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item link-primary" href="#">
                                    Save <i class="fa fa-user-plus" style="font-size:16px!important"></i>
                                </a>
                                <a class="dropdown-item link-danger" href="#">
                                    Block <i class="fa fa-ban" style="font-size: 16px!important;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div  class="media read-chat">
                <div class="media-head">
                    <div class="avatar avatar-sm avatar-soft-info avatar-rounded border border-1 border-info border-rounded">
                        <span class="initial-wrap">D</span>
                    </div>
                </div>
                <div class="media-body">
                    <div>
                        <div class="user-name">Danial Craig</div>
                        <div class="user-last-chat">Boss is looking for you in the office</div>
                    </div>	
                    <div>
                        <div class="last-chat-time">3:15PM</div>
                        <div class="dropdown action-drp">
                                <a href="#" class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover dropdown-toggle no-caret" data-bs-toggle="dropdown">
                                <span class="icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item link-primary" href="#">
                                    Save <i class="fa fa-user-plus" style="font-size:16px!important"></i>
                                </a>
                                <a class="dropdown-item link-danger" href="#">
                                    Block <i class="fa fa-ban" style="font-size: 16px!important;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div  class="media read-chat">
                <div class="media-head">
                    <div class="avatar avatar-sm avatar-soft-success avatar-rounded border border-1 border-success border-rounded">
                        <span class="initial-wrap">A</span>
                    </div>
                </div>
                <div class="media-body">
                    <div>
                        <div class="user-name">Ante Nadrian</div>
                        <div class="user-last-chat">give me the last copy of jampack</div>
                    </div>	
                    <div>
                        <div class="last-chat-time">24 Jan</div>
                        <div class="dropdown action-drp">
                                <a href="#" class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover dropdown-toggle no-caret" data-bs-toggle="dropdown">
                                <span class="icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item link-primary" href="#">
                                    Save <i class="fa fa-user-plus" style="font-size:16px!important"></i>
                                </a>
                                <a class="dropdown-item link-danger" href="#">
                                    Block <i class="fa fa-ban" style="font-size: 16px!important;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="media  read-chat">
                <div class="media-head">
                    <div class="avatar avatar-sm avatar-soft-warning avatar-rounded border border-1 border-warning border-rounded">
                        <span class="initial-wrap">N</span>
                    </div>
                </div>
                <div class="media-body">
                    <div>
                        <div class="user-name">Nadrian Ante</div>
                        <div class="user-last-chat">Show me what reports you have left</div>
                    </div>	
                    <div>
                        <div class="last-chat-time">3:15 PM</div>
                        <div class="dropdown action-drp">
                                <a href="#" class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover dropdown-toggle no-caret" data-bs-toggle="dropdown">
                                <span class="icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item link-primary" href="#">
                                    Save <i class="fa fa-user-plus" style="font-size:16px!important"></i>
                                </a>
                                <a class="dropdown-item link-danger" href="#">
                                    Block <i class="fa fa-ban" style="font-size: 16px!important;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div  class="media read-chat">
                <div class="media-head">
                    <div class="avatar avatar-sm avatar-soft-info avatar-rounded border border-1 border-info border-rounded">
                        <span class="initial-wrap">J</span>
                    </div>
                </div>
                <div class="media-body">
                    <div>
                        <div class="user-name">Jack Reachers</div>
                        <div class="user-last-chat">Boss is looking for you in the office</div>
                    </div>	
                    <div>
                        <div class="last-chat-time">3:15PM</div>
                        <div class="dropdown action-drp">
                                <a href="#" class="btn btn-icon btn-flush-dark btn-rounded flush-soft-hover dropdown-toggle no-caret" data-bs-toggle="dropdown">
                                <span class="icon">
                                    <i class="fa fa-ellipsis-h"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item link-primary" href="#">
                                    Save <i class="fa fa-user-plus" style="font-size:16px!important"></i>
                                </a>
                                <a class="dropdown-item link-danger" href="#">
                                    Block <i class="fa fa-ban" style="font-size: 16px!important;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>