<div class="dialer-box">
    <div class="dialer-box-inner">
        <div class="container pb-4" style="border:1px solid lightgray;border-radius: 30px; margin-top: 50px;">
            <div class="row">
               <div class="col-12">
                    <div class="dialer-input-parent">
                        <input class="effect-1 rounded-input" id="dialer-input" type="text" placeholder="Type Number">
                        <span class="focus-border"></span>
                    </div> 
               </div>
            </div>
            <div class="row">
                <div class="col-4" style="margin-bottom:10px!important">
                    <div class="avatar avatar-sm avatar-soft-primary he-wi avatar-rounded  border-1 border-primary border-rounded">
                        <span class="initial-wrap text-dark dialer-digit" data-key="1">
                            <p class="select-text-disable">1</p>
                            <p class="select-text-disable" style="font-size: 10px!important;"></p>
                        </span>
                    </div>
                </div>
                <div class="col-4" style="margin-bottom:10px!important">
                    <div class="avatar avatar-sm avatar-soft-primary he-wi avatar-rounded  border-1 border-primary border-rounded">
                        <span class="initial-wrap flex-column text-dark dialer-digit" data-key="2">
                            <p class="select-text-disable">2</p>
                            <p class="select-text-disable" style="font-size: 10px!important;">ABC</p>
                        </span>
                    </div>
                </div>
                <div class="col-4" style="margin-bottom:10px!important">
                    <div class="avatar avatar-sm avatar-soft-primary he-wi avatar-rounded border-1 border-primary border-rounded">
                        <span class="initial-wrap flex-column text-dark dialer-digit" data-key="3">
                            <p class="select-text-disable">3</p>
                            <p class="select-text-disable" style="font-size: 10px!important;">DEF</p>
                        </span>
                    </div>
                </div>
                <div class="col-4" style="margin-bottom:10px!important">
                    <div class="avatar avatar-sm avatar-soft-primary he-wi avatar-rounded  border-1 border-primary border-rounded">
                        <span class="initial-wrap flex-column text-dark dialer-digit" data-key="4">
                            <p class="select-text-disable">4</p>
                            <p class="select-text-disable" style="font-size: 10px!important;">GHI</p>
                        </span>
                    </div>
                </div>
                <div class="col-4" style="margin-bottom:10px!important">
                    <div class="avatar avatar-sm avatar-soft-primary he-wi avatar-rounded  border-1 border-primary border-rounded">
                        <span class="initial-wrap flex-column text-dark dialer-digit" data-key="5">
                            <p class="select-text-disable">5</p>
                            <p class="select-text-disable" style="font-size: 10px!important;">JKL</p>
                        </span>
                    </div>
                </div>
                <div class="col-4" style="margin-bottom:10px!important">
                    <div class="avatar avatar-sm avatar-soft-primary he-wi avatar-rounded  border-1 border-primary border-rounded">
                        <span class="initial-wrap flex-column text-dark dialer-digit" data-key="6">
                            <p class="select-text-disable">6</p>
                            <p class="select-text-disable" style="font-size: 10px!important;">MNO</p>
                        </span>
                    </div>
                </div>
                <div class="col-4" style="margin-bottom:10px!important">
                    <div class="avatar avatar-sm avatar-soft-primary he-wi avatar-rounded  border-1 border-primary border-rounded">
                        <span class="initial-wrap flex-column text-dark dialer-digit" data-key="7">
                            <p class="select-text-disable">7</p>
                            <p class="select-text-disable" style="font-size: 10px!important;">PQRS</p>
                        </span>
                    </div>
                </div>
                <div class="col-4" style="margin-bottom:10px!important">
                    <div class="avatar avatar-sm avatar-soft-primary he-wi avatar-rounded  border-1 border-primary border-rounded">
                        <span class="initial-wrap flex-column text-dark dialer-digit" data-key="8">
                            <p class="select-text-disable">8</p>
                            <p class="select-text-disable" style="font-size: 10px!important;">TUV</p>
                        </span>
                    </div>
                </div>
                <div class="col-4" style="margin-bottom:10px!important">
                    <div class="avatar avatar-sm avatar-soft-primary he-wi avatar-rounded  border-1 border-primary border-rounded">
                        <span class="initial-wrap flex-column text-dark dialer-digit" data-key="9">
                            <p class="select-text-disable">9</p>
                            <p class="select-text-disable" style="font-size: 10px!important;">WXYZ</p>
                        </span>
                    </div>
                </div>
                <div class="col-4" style="margin-bottom:10px!important">
                    <div class="avatar avatar-sm avatar-soft-primary he-wi avatar-rounded  border-1 border-primary border-rounded">
                        <span class="initial-wrap flex-column text-dark dialer-digit" data-key="*">
                            <p class="select-text-disable">*</p>
                        </span>
                    </div>
                </div>
                <div class="col-4" style="margin-bottom:10px!important">
                    <div class="avatar avatar-sm avatar-soft-primary he-wi avatar-rounded  border-1 border-primary border-rounded">
                        <span class="initial-wrap flex-column text-dark dialer-digit" data-key="0">
                            <p class="select-text-disable">0</p>
                            <p class="select-text-disable" style="font-size: 10px!important;">+</p>
                        </span>
                    </div>
                </div>
                <div class="col-4" style="margin-bottom:10px!important">
                    <div class="avatar avatar-sm avatar-soft-primary he-wi avatar-rounded  border-1 border-primary border-rounded">
                        <span class="initial-wrap flex-column text-dark dialer-digit" data-key="+">
                            <p class="select-text-disable">+</p>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
                    <div class="avatar avatar-sm avatar-success avatar-rounded border-rounded" style="margin: 5px 0px!important; padding-left: 0px!important; padding-right: 0px!important; cursor: pointer;">
                        <span class="initial-wrap">
                            <i class="fa fa-phone"></i>
                        </span>
                    </div>
                </div>
                <div class="col-4">
                    <div id="dialer-backBtn" class="avatar avatar-sm avatar-rounded border-rounded" style="margin: 5px 0px!important; padding-left: 0px!important; padding-right: 0px!important; cursor: pointer;">
                        <span class="initial-wrap">
                            <i class="fa fa-arrow-left-long"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>