<div class="vertical-menu" >
    <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" data-key="t-menu">Menu</li>
                <li>
                    <a href="/company">
                        <i class="fas fa-tachometer-alt leftSidebarIconSize"></i>
                        <span data-key="t-dashboard">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/company/make-request">
                        <i class="bx bx-git-pull-request leftSidebarIconSize"></i>
                        <span data-key="t-dashboard">Requests</span>
                        <span class="badge rounded-pill bg-soft-danger text-danger float-end">7</span>
                    </a>
                </li>

                <li >
                    <a href="javascript: void(0);" class="has-arrow">
                        <i class="fas fa-stream leftSidebarIconSize"></i>
                        <span data-key="t-apps">Usage Logs</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li class="submenuPadding">
                            <a href="/company/sms-logs">
                                <i class="fas fa-angle-double-right leftSidebarSubMenuIconSize"></i>
                                <span class="submenuSpanText" data-key="t-calendar">
                                    SMS Logs
                                </span>
                            </a>
                        </li>
                        <li class="submenuPadding">
                            <a href="/company/call-logs">
                                <i class="fas fa-angle-double-right leftSidebarSubMenuIconSize"></i>
                                <span class="submenuSpanText" data-key="t-chat">
                                    Call Logs
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>