<div class="vertical-menu" >
    <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" data-key="t-menu">Menu</li>
                <li>
                    <a href="/admin">
                        <i class="fas fa-tachometer-alt leftSidebarIconSize"></i>
                        <span data-key="t-dashboard">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i class="far fa-building leftSidebarIconSize"></i>
                        <span data-key="t-apps">Company</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li class="submenuPadding">
                            <a href="/admin/all-companies">
                                <i class="fas fa-angle-double-right leftSidebarSubMenuIconSize"></i>
                                <span class="submenuSpanText"  data-key="t-calendar">
                                    All Companies
                                </span>
                            </a>
                        </li>
                        <li class="submenuPadding"> 
                            <a href="/admin/companies-requests" >
                                <i class="fas fa-angle-double-right leftSidebarSubMenuIconSize"></i>
                                <span class="submenuSpanText" data-key="t-chat">
                                    Request 
                                </span>
                                <span class="badge rounded-pill bg-danger text-white float-end">7</span>
                            </a>
                        </li>
                        <li class="submenuPadding"> 
                            <a href="/admin/create-company" >
                                <i class="fas fa-angle-double-right leftSidebarSubMenuIconSize"></i>
                                <span class="submenuSpanText" data-key="t-chat">
                                    Create Company
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="/admin/numbers">
                        <i class=" fas fa-phone-alt leftSidebarIconSize"></i>
                        <span data-key="t-authentication">Numbers</span>
                    </a>
                </li>

                <li >
                    <a href="javascript: void(0);" class="has-arrow">
                        <i class="fas fa-stream leftSidebarIconSize"></i>
                        <span data-key="t-apps">Usage Logs</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li class="submenuPadding">
                            <a href="/admin/sms-logs">
                                <i class="fas fa-angle-double-right leftSidebarSubMenuIconSize"></i>
                                <span class="submenuSpanText" data-key="t-calendar">
                                    SMS Logs
                                </span>
                            </a>
                        </li>
                        <li class="submenuPadding">
                            <a href="/admin/call-logs">
                                <i class="fas fa-angle-double-right leftSidebarSubMenuIconSize"></i>
                                <span class="submenuSpanText" data-key="t-chat">
                                    Call Logs
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>